<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../components/main.css" />
    <title>Unashamed</title>
  </head>
  <body>
    <!-- nav bar with logo links and login option-->
    <nav class="nav-wrapper indigo">
      <div class="container">
        <a href="#" class="brand-logo">Unashamed</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Login</a></li>
    </ul>
    <!-- end nav-->

    <!-- small hero banner image or slogan that says" NEVER BE AFAID TO BETTER YOUR MENTAL HEALTH - BE UNASHAMED -->

    <!-- blog and comments will go here-->
  </body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="./main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- footer-->
</html>
