* {
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 238, 240);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
/*footer*/
.page-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footerclass {
  background-color: #eeeeee;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  display: inline-block;
}

/*navbar*/
.navbar {
  background-color: #333;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*logo*/
.logo {
  margin-left: 100px;
}

/*dark mode*/
body {
  background-color: rgb(247, 236, 247);
}

body.dark {
  background-color: #121212;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #121212;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 15px;
  margin-left: 13px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/*make website responsive*/
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(236, 170, 241);
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: rgb(247, 236, 247);
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: rgb(247, 236, 247);
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(247, 236, 247);
  }
}
