* {
  box-sizing: border-box;
}
body {
  background-color: rgb(234, 238, 240);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/*footer*/
.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/*navbar*/
.navbar {
  background-color: #333;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*logo*/
.logo {
  margin-left: 100px;
}

/*make website responsive*/
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(236, 170, 241);
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: rgb(236, 170, 241);
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: rgb(247, 236, 247);
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(247, 236, 247);
  }
}

