<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../components/main.css" />
    <title>Unashamed</title>
  </head>
  <body>
    <!-- nav bar with logo links and login option-->
    <nav class="nav-wrapper indigo">
      <div class="container">
        <a href="#" class="brand-logo">Unashamed</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./resources.html">Resources</a></li>
          <li><a href="./reviews.html">Reviews</a></li>
          <li><a href="./login.html">Login</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Login</a></li>
    </ul>
    <!-- end nav-->

    <div>
        <H1>RESOURCE CONTENT GOES HERE</H1>
    </div>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

